.main-container {
  margin-top: calc((100vh - 250px) / 2);
}

.main-container button {
  width: 100%;
  height: 100%;
}

.large-button {
  width: 200px;
  margin: 15px;
}

.large-button button {
  width: 100%;
  height: 100%;
}

.small-button {
  width: 100px;
  margin: 15px;
}

.small-button button {
  width: 100%;
  height: 100%;
}