:root {
  --calendar-height: 400px;
}

#calendar-content {
  min-height: var(--calendar-height);
  margin-top: calc((100vh - var(--calendar-height)) / 2);
}

#calendar-content div.react-datepicker__input-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calendar-delete-button {
  width: 30px;
  height: 30px;
}

#calendar-delete-button button {
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 12px;
}

#dates {
  max-width: 200px;
  min-width: 200px;
  padding: 0;
}

#dates-container {
  text-align: center;
  margin-top: 10px;
  border: solid 1px gray;
  border-radius: 10px;
  padding: 10px 0;
}